:root {
  /* Fonts */
  --primary-font: 'roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */

  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-novy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;

  /* Timing function */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 18px;

  letter-spacing: 0.02em;
  color: var(--color-novy-blue);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

label {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* container */
.container {
  /* Phone screen: >=320px */

  width: 100%;
  /* min-width: 320px;
  max-width: 428px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red; */
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}

/* Tablet screen: >=768px   */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container-bloc {
    padding-left: 108px;
    padding-right: 108px;
  }
}

/* Desktop screen: >=1200px   */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;

    padding-left: 15px;
    padding-right: 15px;
  }
}

/* .section {
 
  padding-top:96px;
  padding-bottom: 96px;
 
  
}
  */

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Header styles */

.header-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-novy-blue);
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 36px;
  }
}

.header-logo-blue {
  color: var(--color-iris);
}

.header-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header-nav {
  margin-right: auto;
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-novy-blue);
}

.header-address {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address {
    gap: 40px;
  }
}

li {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-link {
  position: relative;
  transition: color var(--timing-function);
}

.header-current {
  color: var(--color-ocean);
}

.header-current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--color-ocean);
  border-radius: 2px;
  /* 
opacity: 0;
transition: opacity var(--timing-function),  */
}

.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}

/* .header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-slate);
  transition: color var(--timing-function);
} */

/* .header-mail:hover,
.header-mail:focus {
  color: var(--color-ocean);
} */

.header-contakt {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-slate);
  transition: color var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .header-contakt {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }
}

.header-contakt:hover,
.header-contakt:focus {
  color: var(--color-ocean);
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    gap: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    height: 70px;
    gap: 40px;
  }
}

.header-menu-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header-menu-icon {
  stroke: var(--color-novy-blue);
  /* outline: 1px solid red; */
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

/* hero */

.hero {
  background-color: var(--color-novy-blue);
  padding-bottom: 112px;
  padding-top: 112px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
  }
}

.hero-background {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-background {
    /* max-width: 768px; */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-bg_tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-background {
    /* max-width: 1440px; */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-bg_desk@2x.jpg);
    }
  }
}

.hero-title {
  max-width: 320px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 500px;
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  min-height: 56px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);

  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

.header-button {
  font-family: var(--primary-font);

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-iris);
  background-color: var(--color-cornflower);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 584px;
  width: 408px;
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--timing-function);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--timing-function),
    fill var(--timing-function);
}

.modal-btn:hover {
  background-color: var(--color-ocean);
  fill: var(--color-white);
}

/* Form modal */

.modal-form {
  color: var(--color-light-slate);
}

.modal-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-novy-blue);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 8px;

  transition: 0;
}

.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: none;
  transition: border-color var(--timing-function);
}

.label-item {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.modal-input-group {
  position: relative;
}

.form-name label {
  letter-spacing: 0.04em;
}

.frame-focus {
  padding-left: 38px;
  transition: outline-color var(--timing-function);
}

.frame-focus:focus {
  border-color: var(--color-iris);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--color-novy-blue);
  transform: translateY(-50%);
  transition: fill var(--timing-function);
}

.frame-focus:focus ~ .modal-icon {
  fill: var(--color-iris);
}

.textarea-modal-focus {
  display: block;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}

.textarea-modal-focus:focus {
  border-color: var(--color-iris);
}

.textarea-modal-focus::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-bloc {
  margin-bottom: 16px;
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-bottom: 24px;
  cursor: pointer;
}

.checkbox input {
  border: 1.25px solid #404bbf;
  border-radius: 2px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.custom-checkbox-frame {
  position: relative;
  fill: transparent;
  stroke: #2e2f42;

  transition: fill var(--timing-function), stroke var(--timing-function);
}
.modal-checkbox-input:checked + .custom-checkbox > .custom-checkbox-frame {
  fill: var(--color-ocean);
  stroke: var(--color-ocean);
}

.modal-checkbox-input:checked + .custom-checkbox > .custom-checkbox-clic {
  opacity: 1;
}

.custom-checkbox-clic {
  opacity: 0;
  transition: opacity var(--timing-function);
}
.modal-form-desc {
  color: #757575;
}

.label-policy-link {
  color: var(--color-iris);
}

.button-modal {
  display: block;
  justify-content: center;
  padding: 16px 32px;

  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
  height: 56px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-iris);
  color: var(--color-white);
  transition: background-color var(--timing-function);
  cursor: pointer;
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--color-ocean);
}

.btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:focus,
.btn:hover {
  color: var(--color-white);
  background-color: var(--color-iris);
}

/* section1-studio */

.flexbox-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.features-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .flexbox-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .features-bloc {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}

.thumb {
  display: none;
}

@media screen and (min-width: 1200px) {
  .thumb {
    display: flex;
    background-color: var(--color-cloud);
    border-radius: 4px;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .flexbox-container {
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 24px;
  }
  .features-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.features {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .features {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* Section2-benefit */

.benefits-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.benefits-flex {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Our Team */
.team-bloc {
  background: #f4f4fd;
}

.team-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.border {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: var(--color-white);
}

.team-inner {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-items {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-img {
  margin-bottom: 32px;
}

.team-description {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-flex {
  display: flex;
  flex-direction: column;

  gap: 72px;
  padding-left: 82px;
  padding-right: 82px;
  /* padding-left: 0px;
  gap: 24px;
   */
}
@media screen and (min-width: 768px) {
  .team-flex {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
  }
  .border {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-flex {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
  }
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-iris);
  fill: var(--color-cloud);
  transition: background-color var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-ocean);
}

/* Customers section */

.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.customers-item {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.customers-bloc {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}

.customers-logo {
  width: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-bloc {
    column-gap: 24px;
    /* padding-left: 108px;
   padding-right: 108px; */
  }
  .customers-logo {
    width: calc((100% - 2 * 24px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-bloc {
    flex-wrap: nowrap;
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 168px;    */
  height: 88px;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  background-color: var(--color-white);
  fill: var(--color-light-slate);
  transition: fill var(--timing-function), border var(--timing-function);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--color-ocean);
  border: 1px solid var(--color-ocean);
}

/* footer */
.footer {
  background-color: var(--color-novy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-bloc {
    column-gap: 24px;
    justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-bloc {
    flex-wrap: nowrap;
    gap: 80px;
    justify-content: space-between;
  }
}

.footer-container {
  width: 264px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    width: 304px;

    padding-right: 40px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-cloud);
}

@media screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
}

.footer-logo-blue {
  color: var(--color-iris);
}
.logo-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
}

.footer-sauce-bloc {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
}
.sauce-text {
  margin-bottom: 16px;
  font-family: 'Roboto';

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .sauce-text {
    text-align: left;
  }
}

.sauce-socials-link {
  background-color: var(--color-iris);
  transition: background-color var(--timing-function);
}

.sauce-socials-link:hover,
.sauce-socials-link:focus {
  background-color: var(--color-green);
}

.footer-mail-bloc > p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.text-mail-bloc {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .text-mail-bloc {
    text-align: left;
  }
}

.footer-mail-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-mail-form {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.footer-mail-input {
  width: 398px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-novy-blue);
  color: var(--color-white);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer-mail-input {
    width: 264px;
  }
}

.footer-mail-input::placeholder {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.btn-footer-mail {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding-left: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--color-iris);
  color: var(--color-white);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--timing-function);
}
.btn-footer-mail:hover,
.btn-footer-mail:focus {
  background-color: var(--color-ocean);
}

/* portfolio */
.btn {
  padding: 12px 24px;

  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: box-shadow var(--timing-function), color var(--timing-function),
    background-color var(--timing-function);
}

.btn-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 48px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .btn-flex {
    margin-bottom: 64px;
    gap: 24px;
  }
  .btn-flex li:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .btn-flex {
    margin-bottom: 72px;
  }
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.flex-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .flex-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .flex-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-link {
  display: inline-block;
  color: var(--color-novy-blue);
  text-decoration: none;
  transition: box-shadow var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--color-cloud);
  background-color: var(--color-ocean);

  transform: translatey(100%);
  transition: transform var(--timing-function);
}

.portfolio-link:hover .overlay {
  transform: translatey(0);
}

.overlay > p {
  width: 296px;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.portfolio-bloc-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-caption {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(24 / 16);
}

/* Section2-benefit */
.benefits-section {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    display: block;
  }
}

.button {
  padding-top: 96px;
}

/* todo Mobile-menu */

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  margin: 0;
  padding: 0;

  background-color: rgba(231, 233, 252, 0.1);

  border: 1px solid #e7e9fc;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 40px;
  padding-top: 80px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: var(--color-white);
  z-index: 999;

  transform: translateX(100%);
  transition: var(--timing-function);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 284px;
  list-style: none;
}

.mobile-menu .link {
  /* display: block;
  padding: 10px; */
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--color-novy-blue);
  text-decoration: none;
}

.mobile-menu .color-blue {
  color: var(--color-ocean);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.mabile-contacts-tel {
  font-weight: 500;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--color-iris);
}
.mabile-contacts-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--color-slate);
}

.mobile-socials {
  display: flex;
  gap: 56px;
}
.mobile-socials .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-iris);
  fill: var(--color-cloud);
  transition: background-color var(--timing-function);
}

.mobile-socials .link:hover,
.mobile-socials .link:focus {
  background-color: var(--color-ocean);
}
